* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: right;
}

.google-logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.google-search {
    display: flex;
    justify-content: center;
}

#searchbar {
    width: 600px;
    padding: 13px 30px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.google-buttons {
    display: flex;
    justify-content: center;
}

.search-button {
    margin: 0 15px;
    padding: 10px 15px;
    font-size: 14px;
    color: #444;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-button:hover {
    color: #222;
    border: 1px solid #ccc;
}

.lang-info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.lang-info p {
    font-size: 13px;
    color: #111;
}

.lang-info a {
    font-size: 13px;
}